<div class="header">
  <img class="header__img" src="angular-logo.png" alt="logo" (click)="navigateToHome()">

  <nav class="header__nav">
    <ul class="header__nav__list">
      <li class="header__nav__list__item active">
        <span class="header__nav__list__item--text">quem sou eu</span>
      </li>

      <li class="header__nav__list__item">
        <span class="header__nav__list__item--text">skills</span>
      </li>

      <li class="header__nav__list__item">
        <span class="header__nav__list__item--text">projetos</span>
      </li>

      <li class="header__nav__list__item">
        <span class="header__nav__list__item--text">blog</span>
      </li>

      <li class="header__nav__list__item">
        <span class="header__nav__list__item--text">contatos</span>
      </li>
    </ul>
  </nav>
</div>