<div class="header">
  <img class="header__img" src="logo.png" alt="logo">

  <nav class="header__nav">
    <ul class="header__nav__list">
      <li class="header__nav__list__item">
        <span class="header__nav__list__item--text">Quem sou eu</span>
      </li>

      <li class="header__nav__list__item">
        <span class="header__nav__list__item--text">Skills</span>
      </li>

      <li class="header__nav__list__item">
        <span class="header__nav__list__item--text">Portfolio</span>
      </li>

      <li class="header__nav__list__item">
        <span class="header__nav__list__item--text">Contatos</span>
      </li>
    </ul>
  </nav>
</div>