.home {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;

  &__titles {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--p-color-light);
    font-size: 24px;
  }

  &__photo {
    width: 400px;
    margin-top: 72px;
    clip-path: polygon(50% 0%, 100% 15%, 90% 80%, 50% 100%, 10% 80%, 0% 15%);
  }
}

::ng-deep {
  p-home {
    display: flex;
    flex-grow: 1;
    animation: appearFromLeft 0.3s ease-out;
  }
}
