<div class="intro">
  <img class="intro__photo" src="photo.jpg" alt="minha foto">
  <div class="intro__text">
    <h1 class="main-title">about myself</h1>
    <p-card>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet ad recusandae doloribus aliquid veniam, officiis totam aspernatur, debitis autem excepturi vel quaerat? Dolor, fuga. Eum reprehenderit maiores fugiat veniam laudantium tempore quo corporis, at, mollitia, officia doloribus harum? Nihil tenetur labore reprehenderit. Ad earum in voluptates officia corrupti eius ullam?
    </p-card>
  </div>
</div>