.intro {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin-top: 72px;
  gap: 36px;
  &__photo {
    width: 400px;
    clip-path: polygon(50% 0%, 100% 15%, 90% 80%, 50% 100%, 10% 80%, 0% 15%);
  }

  &__text {
    color: var(--p-color-light);
  }
}

::ng-deep {
  p-intro {
    display: flex;
    flex-grow: 1;
  }
}
