.intro {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  gap: 64px;

  &__photo {
    width: 360px;
    clip-path: polygon(50% 0%, 100% 15%, 90% 80%, 50% 100%, 10% 80%, 0% 15%);
  }

  &__text {
    color: var(--p-color-light);
    h1 {
      margin-bottom: 24px;
    }
  }
}

::ng-deep {
  p-intro {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    animation: appear 0.3s ease-in-out;
  }
}
