<div class="projects">
  <h1>Projects</h1>

  <ul class="projects-list">
    <div class="sublist">
      <li class="projects-list__item skill-tier2">
        <span>HTML e CSS</span>
      </li>

      <li class="projects-list__item skill-tier2">
        <span>Typescript</span>
      </li>
    </div>

    <li class="projects-list__item skill-tier1">
      <span>Angular</span>
    </li>

    <div class="sublist">
      <li class="projects-list__item skill-tier2">
        <span>JavaScript</span>
      </li>

      <li class="projects-list__item skill-tier3">
        <span>BootStrap</span>
      </li>
    </div>
  </ul>
</div>