<div class="skills">
  <h1>Skills</h1>

  <ul class="skills-list">

    <div class="sublist">
      <li class="skills-list__item skill-tier2">
        <img src="https://raw.githubusercontent.com/learnbr/html-css/master/logo.png" alt="HTML5 + CSS3" />
        <span>HTML e CSS</span>
      </li>

      <li class="skills-list__item skill-tier2">
        <img src="https://www.typescriptlang.org/icons/icon-144x144.png?v=8944a05a8b601855de116c8a56d3b3ae"
          alt="Typescript" />
        <span>Typescript</span>
      </li>
    </div>

    <li class="skills-list__item skill-tier1">
      <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg" alt="Angular" />
      <span>Angular</span>
    </li>

    <div class="sublist">
      <li class="skills-list__item skill-tier2">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1200px-Unofficial_JavaScript_logo_2.svg.png"
          alt="JavaScript" />
        <span>JavaScript</span>
      </li>

      <li class="skills-list__item skill-tier3">
        <img src="https://getbootstrap.com.br/docs/4.1/assets/img/bootstrap-stack.png" alt="BootStrap" />
        <span>BootStrap</span>
      </li>
    </div>
  </ul>

</div>